.popular-courses{background-color: rgba(0,0,0,0.03);padding: 30px ;margin: 30px 0;}
.popular-courses a{background-color: #fff;text-align: center;border:1px solid rgba(0,0,0,0.05);
display: block;padding: 10px;font-size:14px;color:#000;margin: 5px 0 15px;border-radius: 5px;}