h1.page-title{font-size: 24px;font-weight: 300!important;margin: 10px 0;}

.course-header{background-color: rgba(0,0,0,.025);margin: 10px -15px;padding: 30px 15px;}
.course-header h2{font-size: 30px;}
.course-instructor img{width:50px;margin-right: 10px;}